<div class="row">
  <div class="large-6 large-centered columns custom-panel">
    
    <div class="row">
      <div class="large-11 large-centered columns page-header">
        <h3>Select Conference</h3>
        <p>These are the conferences happening now. Please select your preferred conference.</p>
      </div>
    </div>

    <% @conferences.each do |conference| %>
    <div class="row">
      <div class="large-6 large-centered columns page-button">
        <%= link_to conference.title, conference_resolutions_path(conference), class: "button" %>
      </div>
    </div>
    <% end %>

  </div>
</div>